<style>
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: top;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
            
            .response{
                white-space: pre-wrap;
                max-height: 500px;
                overflow: auto;
                background: #000;
                color: #fff;
                padding: 20px 20px 20px 20px;
                display: none;
                margin-top: 10px;
                text-align: left;
                font-size: 1em;
            }
            
            
            #apiinfo {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              #apiinfo td, #apiinfo th {
                border: 1px solid #ddd;
                padding: 4px 0px 4px 10px;
                text-align:left;
               
              }
              
              #apiinfo tr:nth-child(even){background-color: #f2f2f2;}
              
              #apiinfo tr:hover {background-color: #ddd;}
              
              #apiinfo th {
                padding-top: 8px;
                padding-bottom: 8px;
                text-align: Center;
                background-color: #1D77AF;
                color: white;
              }
        </style>